﻿@{
    ViewData["PageTitle"] = "home";
}

@if (User.IsInRole("Admin"))
{
    <h2><span class="font-weight-bold">Admin</span> account => <span class="font-weight-bold">Full</span> permissions</h2>
}
else
{
    <h2><span class="font-weight-bold">normal User</span> account => <span class="font-weight-bold">No</span> permissions</h2>
}