﻿@{
    User loggedInUser = _usersManager.GetUserAsync(User).GetAwaiter().GetResult();
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>task - @ViewData["PageTitle"]</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--region Global styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/icons/fontawesome/styles.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/icons/icomoon/styles.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/icons/material/styles.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/bootstrap_limitless.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/colors.min.css">
    <!--endregion-->

    <link rel="stylesheet" type="text/css" href="~/css/shared/theme_override.css">
    <link rel="stylesheet" type="text/css" href="~/css/shared/ltr/theme_override.css">

    @RenderSection("CustomCss", required: false)
    <!--endregion-->

    <partial name="~/Views/Shared/PartialScripts/_General.cshtml" />

    <partial name="~/Views/Shared/PartialScripts/_Datatable.cshtml" />
</head>
<body id="body">
    <!-- Main navbar -->
    <nav class="navbar navbar-dark navbar-expand-xl">
        <div class="navbar-brand"></div>

        <div class="d-xl-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-demo1-mobile">
                <i class="icon-grid3"></i>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-demo1-mobile">
            <ul class="navbar-nav">
                @if (User.HasClaim(claim => claim.Type == "ReadProducts"))
                {
                    <li class="nav-item">
                        <a href="/Products" class="navbar-nav-link legitRipple">
                            Products
                        </a>
                    </li>
                }

                @if (User.HasClaim(claim => claim.Type == "ReadCategories"))
                {
                    <li class="nav-item">
                        <a href="/Categories" class="navbar-nav-link legitRipple">
                            Categories
                        </a>
                    </li>
                }
            </ul>

            <ul class="navbar-nav ml-xl-auto">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="true">
                        <span>@loggedInUser.FirstName @loggedInUser.LastName</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper position-relative">
            <!-- Content area -->
            <main role="main" class="content">
                @RenderBody()
            </main>
            <!-- /content area -->

        </div>
        <!-- /main content -->
    </div>

    <partial name="~/Views/Shared/PartialScripts/_Notys.cshtml" />

    <partial name="~/Views/Shared/PartialScripts/_JqueryValidation.cshtml" />

    <partial name="~/Views/Shared/PartialScripts/_Select2.cshtml" />

    <!--region Custom shared files-->
    <script src="~/js/shared/script.js"></script>
    <!--endregion-->
    <!--region CustomJs-->
    @RenderSection("CustomJs", required: false)
    <!--endregion-->
</body>
</html>
