﻿<!-- Categories -->
<div id="categoriesTableCard" class="card table-card m-0">
    <div class="card-header bg-dark header-elements-inline">
        <h2 class="card-title f-25px">Categories</h2=>
    </div>

    <table id="categoriesTable" class="table card-body w-100">
        <thead>
            <tr>
                <th data-column-index="0" class="font-weight-bold" data-th-title="Name">Name</th>
                @if (User.HasClaim(claim => claim.Type == "EditCategories" || claim.Type == "DeleteCategories"))
                {
                    <th data-column-index="1" class="font-weight-bold" data-orderable="false" data-th-title="Actions">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td data-column-index="0">
                    <input type="text" class="form-control input-sm" placeholder="Name" />
                </td>
                @if (User.HasClaim(claim => claim.Type == "EditCategories" || claim.Type == "DeleteCategories"))
                {
                    <td data-column-index="1"></td>
                }
            </tr>
        </tfoot>
    </table>
</div>
<!-- /categories -->

<partial name="~/Views/Shared/PartialScripts/_Datatable.cshtml" />

<script>
const categoriesTblCellsDataTitles = [
    'name',
    ];

let $categoriesDataTable;

$(document).ready(function () {
    const $categoriesTable = $('#categoriesTable');

    $categoriesDataTable = $categoriesTable.DataTable({
        processing: true,
        serverSide: true,
        destroy: true,
        autoWidth: true,
        order: [0, 'asc'],
        rowReorder: {
            update: false
        },
        select: true, //Enable selection (row/s columns/s cell/s)
        lengthMenu: [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
        scrollX: true,
        scrollCollapse: true,

        ajax: {
            type: 'Post',
            url: '/Categories/GetDT',
            beforeSend: function () {
                $('#categoriesTable').parent('.dataTables_scrollBody').block({
                    message: '<i class="icon-sync spinner" style="font-size: 20px;"></i>',
                    overlayCSS: {
                        backgroundColor: '#fff',
                        opacity: 0.5,
                        cursor: 'wait',
                        'box-shadow': '0 0 0 1px #ddd',
                    },
                    css: {
                        border: 0,
                        padding: 0,
                        backgroundColor: 'none',
                    }
                });
            },

            //success: function (response) {
            //    console.log(response);
            //    //console.log(respons  e.data);
            //},

            error: function (error) {
                console.log(error);
            },

            complete: function () {
                $('#categoriesTable').parent('.dataTables_scrollBody').unblock();
            }
        },

        createdRow: function (row, data, dataIndex) {
            $(row).attr('data-row-id', dataIndex);
            $(row).children('[data-title="name"]').attr('data-entity-id', data['id']);
        },

        columnDefs: [
            {
                targets: '_all',
                createdCell: function (td, cellData, rowData, row, col) {
                    $(td).attr('data-title', categoriesTblCellsDataTitles[col]);
                },
            },
            {
                "targets": $categoriesTable.find('[data-orderable="false"]').attr('data-column-index'),
                orderable: false,
            },
        ],

        initComplete: function () {
            let $tableWrapper = $('#categoriesTable_wrapper');

            @if (User.HasClaim(claim => claim.Type == "AddCategories")) {
                <text>
                    $tableWrapper.find('.datatable-header').prepend($('<button type="button" class="btn bg-dark btn-labeled btn-labeled-left legitRipple font-size-lg font-weight-bold mx-2" data-title="openAddCategoryForm"><b><i class="fa fa-plus"></i></b>Category</button>'));
                </text>
            }
        },

        columns: [
            { "data": 'name', "name": 'Name' },
            @if (User.HasClaim(claim => claim.Type == "EditCategories" || claim.Type == "DeleteCategories")) {
                <text>
                {
                    "data": null,
                    render: function (data, type, row, dataIndex) {
                        let actions = '';

                        @if (User.HasClaim(claim => claim.Type == "EditCategories")) {
                            <text>
                                actions += '<a class="dropdown-item" data-title="openEditCategoryForm"><i class="icon-compose mr-2"></i>Edit</a>'
                            </text>
                        }

                        @if (User.HasClaim(claim => claim.Type == "DeleteCategories")) {
                            <text>
                                actions += '<a class="dropdown-item" data-title="openDeleteCategoryConfirm"><i class="icon-bin mr-2"></i>Delete  </a>'
                            </text>
                        }

                        return '<div class="list-icons">\n' +
                            '    <div class="dropdown">\n' +
                            '        <a href="#" class="list-icons-item" data-toggle="dropdown">\n' +
                            '            <i class="icon-menu9"></i>\n' +
                            '        </a>\n' +
                            '        <div class="dropdown-menu dropdown-menu-right">\n' +
                            actions +
                            '        </div>\n' +
                            '    </div>\n' +
                            '</div>'
                    }
                }
                </text>
            }
        ]
    });

    // Individual column searching with text inputs
    $categoriesDataTable.columns().every(function () {
        let that = this;
        $('input', this.footer()).on('keyup change', function () {
            that.column($(this).parent('td').attr('data-column-index')).search(this.value).draw();
        });
    });

    $('.dataTables_length select').select2({
        minimumResultsForSearch: Infinity,
        dropdownAutoWidth: true,
        width: 'auto'
    });
});
</script>

