﻿@model DevTask.Dtos.Category.EditCategoryDto
<!--<editor-fold desc="Categories table CRUD">-->
<!--<editor-fold desc="Categories table CRUD (Edit)">-->
<!-- Full Height Modal Right -->
<form id="editCategory" action="/Categories/" method="Put" class="modal fade show" data-backdrop="static" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-sm block">
        <div class="modal-content block">
            <div class="modal-header bg-dark">
                <h4 class="modal-title">Edit category</h4>
                <button type="button" class="close" data-dismiss="modal" data-title="dismissModal">×</button>
            </div>

            <div class="modal-body overflow-auto">
                <input type="text" class="d-none" asp-for="Id" data-title="id" />

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="font-weight-semibold m-0" asp-for="Name">Name</label>
                            <span class="text-danger">*</span>

                            <div class="form-group-feedback form-group-feedback-right">
                                <input type="text" class="form-control" asp-for="Name" data-title="name" jquery-validation-required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <div class="form-control-feedback">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer p-2">
                <button type="button" class="btn bg-dark legitRipple btn-submit" data-title="putCategory">Edit</button>
                <button type="button" class="btn btn-outline bg-dark text-dark border-dark border-2 legitRipple" data-dismiss="modal" data-title="dismissModal">Close</button>
            </div>
        </div>
    </div>
</form>
<!-- /full Height Modal Right -->
<!--</editor-fold>-->
<!--</editor-fold>-->
