﻿@{
    ViewData["PageTitle"] = "categories";
}

<partial name="CategoriesTable" />

@if (User.HasClaim(claim => claim.Type == "AddCategories"))
{
    <partial name="Add" />
}

@if (User.HasClaim(claim => claim.Type == "EditCategories"))
{
    <partial name="Edit" />
}

@if (User.HasClaim(claim => claim.Type == "DeleteCategories"))
{
    <partial name="_DeleteConfirmation" />
}

@section CustomJs{
    <script src="@Url.Content("~/js/categories.js")"></script>
}


