﻿@model DevTask.Dtos.Product.EditProductDto
<!--<editor-fold desc="Products table CRUD">-->
<!--<editor-fold desc="Products table CRUD (Edit)">-->
<!-- Full Height Modal Right -->
<form id="editProduct" action="/Products/" method="Put" class="modal fade modal-right show" data-backdrop="static" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-full-height modal-width-base">
        <div class="modal-content block">
            <div class="modal-header bg-dark">
                <h4 class="modal-title">Edit product</h4>
                <button type="button" class="close" data-dismiss="modal" data-title="dismissModal">×</button>
            </div>

            <div class="modal-body overflow-auto">
                <input type="text" class="d-none" asp-for="Id" data-title="id" />

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="font-weight-semibold m-0" asp-for="Name">Name</label>
                            <span class="text-danger">*</span>

                            <div class="form-group-feedback form-group-feedback-right">
                                <input type="text" class="form-control" asp-for="Name" data-title="name" jquery-validation-required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <div class="form-control-feedback">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="font-weight-semibold m-0" asp-for="Description">Description</label>
                            <span class="text-danger">*</span>

                            <div class="form-group-feedback form-group-feedback-right">
                                <textarea class="form-control" asp-for="Description" data-title="description" jquery-validation-required></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                                <div class="form-control-feedback">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="font-weight-semibold m-0" asp-for="Price">Price</label>
                            <span class="text-danger">*</span>

                            <div class="form-group-feedback form-group-feedback-right">
                                <input type="text" class="form-control" asp-for="Price" data-title="price" jquery-validation-required />
                                <span asp-validation-for="Price" class="text-danger"></span>
                                <div class="form-control-feedback">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="font-weight-semibold m-0" asp-for="CategoriesIds">Categories</label>
                            <span class="text-danger">*</span>

                            <div class="form-group-feedback form-group-feedback-right">
                                <select class="select2 form-control remote-data" asp-for="CategoriesIds" data-title="categoriesIds" jquery-validation-required></select>
                                <span asp-validation-for="CategoriesIds" class="text-danger" data-title="validation"></span>
                                <div class="form-control-feedback">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-2">
                <button type="button" class="btn bg-dark legitRipple btn-submit" data-title="putProduct">Edit</button>
                <button type="button" class="btn btn-outline bg-dark text-dark border-dark border-2 legitRipple" data-dismiss="modal" data-title="dismissModal">Close</button>
            </div>
        </div>
    </div>
</form>
<!-- /full Height Modal Right -->
<!--</editor-fold>-->
<!--</editor-fold>-->
