﻿@{
    ViewData["PageTitle"] = "products";
}
<partial name="ProductsTable" />

@if (User.HasClaim(claim => claim.Type == "AddProducts"))
{
    <partial name="Add" />
}

@if (User.HasClaim(claim => claim.Type == "EditProducts"))
{
    <partial name="Edit" />
}

@if (User.HasClaim(claim => claim.Type == "DeleteProducts"))
{
    <partial name="_DeleteConfirmation" />
}

@section CustomJs{
    <script src="@Url.Content("~/js/products.js")"></script>
}


