﻿<!-- Products -->
<div id="productsTableCard" class="card table-card m-0">
    <div class="card-header bg-dark header-elements-inline">
        <h2 class="card-title f-25px">Products</h2>
    </div>

    <table id="productsTable" class="table card-body w-100">
        <thead>
            <tr>
                <th data-column-index="0" class="font-weight-bold" data-th-title="Name">Name</th>
                <th data-column-index="1" class="font-weight-bold" data-th-title="Description">Description</th>
                <th data-column-index="2" class="font-weight-bold" data-th-title="Price">Price</th>
                <th data-column-index="3" class="font-weight-bold" data-orderable="false" data-th-title="ProductUnit">Product categories</th>
                @if (User.HasClaim(claim => claim.Type == "EditProducts" || claim.Type == "DeleteProducts"))
                {
                    <th data-column-index="4" class="font-weight-bold" data-orderable="false" data-th-title="Actions">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td data-column-index="0">
                    <input type="text" class="form-control input-sm" placeholder="Name" />
                </td>
                <td data-column-index="1">
                    <input type="text" class="form-control input-sm" placeholder="Description" />
                </td>
                <td data-column-index="2">
                    <input type="text" class="form-control input-sm" placeholder="Price" />
                </td>
                <td data-column-index="3"></td>
                @if (User.HasClaim(claim => claim.Type == "EditProducts" || claim.Type == "DeleteProducts"))
                {
                    <td data-column-index="4"></td>
                }
            </tr>
        </tfoot>
    </table>
</div>
<!-- /products -->

<partial name="~/Views/Shared/PartialScripts/_Datatable.cshtml" />

<script>
const productsTblCellsDataTitles = [
    'name',
    'description',
    'price',
    'categoriesIds',
    ];

let $productsDataTable;

$(document).ready(function () {
    const $productsTable = $('#productsTable');

    $productsDataTable = $productsTable.DataTable({
        processing: true,
        serverSide: true,
        destroy: true,
        autoWidth: true,
        order: [0, 'asc'],
        rowReorder: {
            update: false
        },
        select: true, //Enable selection (row/s columns/s cell/s)
        lengthMenu: [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
        scrollX: true,
        scrollCollapse: true,

        ajax: {
            type: 'Post',
            url: '/Products/GetDT',
            beforeSend: function () {
                $('#productsTable').parent('.dataTables_scrollBody').block({
                    message: '<i class="icon-sync spinner" style="font-size: 20px;"></i>',
                    overlayCSS: {
                        backgroundColor: '#fff',
                        opacity: 0.5,
                        cursor: 'wait',
                        'box-shadow': '0 0 0 1px #ddd',
                    },
                    css: {
                        border: 0,
                        padding: 0,
                        backgroundColor: 'none',
                    }
                });
            },

            //success: function (response) {
            //    console.log(response);
            //    //console.log(respons  e.data);
            //},

            error: function (error) {
                console.log(error);
            },

            complete: function () {
                $('#productsTable').parent('.dataTables_scrollBody').unblock();
            }
        },

        createdRow: function (row, data, dataIndex) {
            $(row).attr('data-row-id', dataIndex);
            $(row).children('[data-title="name"]').attr('data-entity-id', data['id']);

            categoriesIds = '';
            for (var i = 0; i < data['categories'].length; i++) {
                categoriesIds += data['categories'][i]['id']+ ','
            }
            $(row).children('[data-title="categoriesIds"]').attr('data-value', categoriesIds.slice(0, -1));
        },

        columnDefs: [
            {
                targets: '_all',
                createdCell: function (td, cellData, rowData, row, col) {
                    $(td).attr('data-title', productsTblCellsDataTitles[col]);
                },
            },
            {
                "targets": $productsTable.find('[data-orderable="false"]').attr('data-column-index'),
                orderable: false,
            },
        ],

        initComplete: function () {
            let $tableWrapper = $('#productsTable_wrapper');

            @if (User.HasClaim(claim => claim.Type == "AddProducts")) {
                <text>
                    $tableWrapper.find('.datatable-header').prepend($('<button type="button" class="btn bg-dark btn-labeled btn-labeled-left legitRipple font-size-lg font-weight-bold mx-2" data-title="openAddProductForm"><b><i class="fa fa-plus"></i></b>Product</button>'));
                </text>
            }
        },

        columns: [
            { "data": 'name', "name": 'Name' },
            { "data": 'description', "name": 'Description' },
            { "data": 'price', "name": 'Price' },
            {
                "data": null,
                render: function (data, type, row, dataIndex) {
                    let categories = ''
                    if (data['categories'].length != 0) {
                        for (var i = 0; i < data['categories'].length; i++) {
                            categories +=
                                '<div class="campaign-style badge badge-pill badge-dark mr-1 mb-1">' +
                            '   <span>' + data['categories'][i]['name'] + '</span>' +
                                '</div>'
                        }
                    }
                    return categories
                },
                "name": 'categories'
            },
            @if (User.HasClaim(claim => claim.Type == "EditProducts" || claim.Type == "DeleteProducts")) {
                <text>
                {
                    "data": null,
                    render: function (data, type, row, dataIndex) {
                        let actions = '';

                        @if (User.HasClaim(claim => claim.Type == "EditProducts")) {
                            <text>
                                actions += '<a class="dropdown-item" data-title="openEditProductForm"><i class="icon-compose mr-2"></i>Edit</a>'
                            </text>
                        }

                        @if (User.HasClaim(claim => claim.Type == "DeleteProducts")) {
                            <text>
                                actions += '<a class="dropdown-item" data-title="openDeleteProductConfirm"><i class="icon-bin mr-2"></i>Delete  </a>'
                            </text>
                        }

                        return '<div class="list-icons">\n' +
                            '    <div class="dropdown">\n' +
                            '        <a href="#" class="list-icons-item" data-toggle="dropdown">\n' +
                            '            <i class="icon-menu9"></i>\n' +
                            '        </a>\n' +
                            '        <div class="dropdown-menu dropdown-menu-right">\n' +
                            actions +
                            '        </div>\n' +
                            '    </div>\n' +
                            '</div>'
                    }
                }
                </text>
            }
        ]
    });

    // Individual column searching with text inputs
    $productsDataTable.columns().every(function () {
        let that = this;
        $('input', this.footer()).on('keyup change', function () {
            that.column($(this).parent('td').attr('data-column-index')).search(this.value).draw();
        });
    });

    $('.dataTables_length select').select2({
        minimumResultsForSearch: Infinity,
        dropdownAutoWidth: true,
        width: 'auto'
    });
});
</script>

