﻿<!-- #region Datatable scripts -->
<script src="~/assets/global/js/datatables/datatables.min.js"></script>
<script src="~/assets/global/js/datatables/extensions/select.min.js"></script>
<script src="~/assets/global/js/datatables/extensions/responsive.min.js"></script>
<script src="~/assets/global/js/datatables/extensions/jszip/jszip.min.js"></script>
<script src="~/assets/global/js/datatables/extensions/pdfmake/pdfmake.min.js"></script>
<script src="~/assets/global/js/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
<script src="~/assets/global/js/datatables/datatables_extend.js"></script>
<!-- #endregion --> 