﻿<!-- #region General scripts -->
<script src="~/assets/global/js/jquery/jquery.min.js"></script>
<script src="~/assets/global/js/jquery/jquery_extend.js"></script>
<script src="~/assets/global/js/jquery_cookie/jquery.cookie.js"></script>
<script src="~/assets/global/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="~/assets/global/js/blockui/blockui.min.js"></script>
<script src="~/assets/global/js/ripple/ripple.min.js"></script>
<!-- #endregion -->
