﻿<!-- #region Jquery validation scripts -->
<script src="~/assets/global/libs/jquery-validation/js/jquery.validate.min.js"></script>

<script src="~/assets/global/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/global/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive_override.js"></script>
<script src="~/assets/global/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive_extend.js"></script>

<script src="~/assets/global/libs/jquery-validation/js/jquery_validation_extend.js"></script>
<script src="~/assets/global/libs/jquery-validation/js/jquery_validation_custom.js"></script>

<script src="@Url.Content("~/assets/global/libs/jquery-validation/js/lang/en.js")"></script>
<!-- #endregion -->