﻿<!-- #region Select2 & Multiselect scripts -->
<script src="~/assets/global/js/select2/select2.min.js"></script>
<script src="~/assets/global/js/bootstrap_multiselect/bootstrap_multiselect.js"></script>
<!-- #endregion -->