﻿<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>task- @ViewData["PageTitle"]</title>
    <link rel="icon" type="image/x-icon" href="/images/almohtaseb logos/Logo.png">


    <!--region Global styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/icons/fontawesome/styles.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/icons/icomoon/styles.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/icons/material/styles.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/bootstrap_limitless.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/colors.min.css">
    <!--endregion-->

</head>

<body>
    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper position-relative">

            <!-- Content area -->
            <main role="main" class="content d-flex justify-content-center align-items-center">
                @RenderBody()
            </main>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
    <!--region General-->
</body>
</html>