﻿@model DevTask.Dtos.Auth.UserCredentialDto
@{
    Layout = "";
}

@{
    ViewData["PageTitle"] = "login";
}
<!DOCTYPE html>
<html lang=en dir=ltr>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>task - @ViewData["PageTitle"]</title>

    <!--region Global styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/icons/icomoon/styles.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/bootstrap_limitless.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/global/css/ltr/colors.min.css">
    <!--endregion-->

    <link rel="stylesheet" type="text/css" href="~/css/shared/style.css">

</head>

<body class="bg-white">
    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Login form -->
                <div class="login-form">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <h3 class="font-weight-semibold my-2">Products task</h3>
                            </div>

                            <form id="login" action="/Login" method="Post">
                                <div class="form-group">
                                    <label class="font-weight-semibold m-0" asp-for="UserName">User name</label>
                                    <span class="text-danger">*</span>

                                    <div class="form-group-feedback form-group-feedback-right">
                                        <input type="text" class="form-control" asp-for="UserName" jquery-validation-required has-icon />
                                        <span asp-validation-for="UserName" class="text-danger" data-title="validation"></span>

                                        <div class="form-control-feedback">
                                            <i class="icon-user text-muted"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="font-weight-semibold m-0" asp-for="Password">Password</label>
                                    <span class="text-danger">*</span>

                                    <div class="form-group-feedback form-group-feedback-right">
                                        <input type="Password" class="form-control" asp-for="Password" jquery-validation-required has-icon />
                                        <span asp-validation-for="Password" class="text-danger" data-title="validation"></span>

                                        <div class="form-control-feedback">
                                            <i class="icon-lock2 text-muted"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mt-4 mb-0">
                                    <button type="submit" class="btn bg-dark btn-block btn-submit" data-title="submit">
                                        Sign in
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- /login form -->
            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

    <partial name="~/Views/Shared/PartialScripts/_General.cshtml" />

    <partial name="~/Views/Shared/PartialScripts/_Notys.cshtml" />

    <partial name="~/Views/Shared/PartialScripts/_JqueryValidation.cshtml" />

    <!--region Custom shared files-->
    <script src="~/js/shared/script.js"></script>
    <!--endregion-->
    <!--region Custom files-->
    <script src="~/js/login.js"></script>
    <!--endregion-->

</body>
</html>