﻿@*Table CRUD (Delete) confirmation modal*@
<!-- Delete confirmation modal-->
<div id="deleteConfirmationModal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger-700 p-2">
                <h4 class="modal-title">Do you want to delete this entity</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">
                <h4 class="text-center"></h4>
            </div>

            <div class="modal-footer p-2">
                <button type="button" class="btn bg-danger-700 btn-delete">Delete</button>
                <button type="button" class="btn btn-outline bg-danger-700 text-danger-700 border-danger-700 border-2" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /delete confirmation modal -->

<script src="@Url.Content("~/js/shared/delete.js")"></script>