html[dir="ltr"] *:not(.fa):not(.fab):not(.far):not(.fas) {
    font-family: 'Roboto'
}

html[dir="rtl"] *:not(.fa):not(.fab):not(.far):not(.fas) {
    font-family: 'Cairo'
}

/*#region Datatable*/
.table-card {
    display: flex;
    flex-flow: column;
    height: 100%;
}

    .table-card .card-header {
        flex: 0 1 40px;
    }


    .table-card .dataTables_wrapper {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column;
    }

    .table-card .datatable-header {
        flex: 0 1 40px;
    }

    .table-card .datatable-scroll-wrap {
        flex: 1 1 auto;
    }

    .table-card .dataTables_scroll {
        height: 100%;
        display: flex;
        flex-flow: column;
    }

        .table-card .dataTables_scroll .dataTables_scrollHead {
            flex: 0 1 40px;
        }

        .table-card .dataTables_scroll .dataTables_scrollBody {
            flex: 1 1 auto;
        }

        .table-card .dataTables_scroll .dataTables_scrollFoot {
            flex: 0 1 60px;
        }
/*#endregion*/

/*#region on-hover scale  */
.scale-on-hover:hover {
    -webkit-transform: scale(1.2);
    transition: all .2s ease-in-out;
}
/*#endregion*/

/*#region infinite scale  */
.infinite-scale {
    animation: scale 1s ease-in-out infinite alternate;
    -webkit-animation: scale 1s ease-in-out infinite alternate;
}

@keyframes scale {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }

    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}
/*#endregion*/

/*#region locks animation  */
[type="checkbox"].lock {
    display: none;
}

    [type="checkbox"].lock + label.btn-lock {
        position: relative;
        display: inline-block;
        background: #26a69a;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        padding: 12px 0 0 18px;
        border-radius: 50%;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        box-shadow: 0 0 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23) !important;
    }

        [type="checkbox"].lock + label.btn-lock svg {
            fill: none;
            transform: translate3d(0, 0, 0);
            position: absolute;
            top: 5px;
            left: 4px
        }

            [type="checkbox"].lock + label.btn-lock svg .bling {
                stroke: #fff;
                stroke-width: 2.5;
                stroke-linecap: round;
                stroke-dasharray: 3;
                stroke-dashoffset: 15;
                transition: all 0.3s ease;
            }

            [type="checkbox"].lock + label.btn-lock svg .lock {
                stroke: #fff;
                stroke-width: 4;
                stroke-linejoin: round;
                stroke-linecap: round;
                stroke-dasharray: 36;
                transition: all 0.4s ease;
            }

            [type="checkbox"].lock + label.btn-lock svg .lockb {
                fill: #fff;
                fill-rule: evenodd;
                clip-rule: evenodd;
                transform: rotate(8deg);
                transform-origin: 14px 20px;
                transition: all 0.2s ease;
            }


    [type="checkbox"].lock:not(:checked) + label.btn-lock,
    [type="checkbox"].lock:not(:checked):disabled + label.btn-lock {
        background: #d32f2f;
    }

        [type="checkbox"].lock:not(:checked) + label.btn-lock svg {
            opacity: 1;
        }

            [type="checkbox"].lock:not(:checked) + label.btn-lock svg .bling {
                animation: bling 0.3s linear forwards;
                animation-delay: 0.2s;
            }

            [type="checkbox"].lock:not(:checked) + label.btn-lock svg .lock {
                stroke-dasharray: 48;
                animation: locked 0.3s linear forwards;
            }

            [type="checkbox"].lock:not(:checked) + label.btn-lock svg .lockb {
                transform: rotate(0);
                transform-origin: 14px 22px;
            }

    [type="checkbox"].lock:disabled + label.btn-lock {
        /*background: rgb(170, 170, 170);*/
        opacity: 0.7;
    }


@-moz-keyframes bling {
    50% {
        stroke-dasharray: 3;
        stroke-dashoffset: 12;
    }

    100% {
        stroke-dasharray: 3;
        stroke-dashoffset: 9;
    }
}

@-webkit-keyframes bling {
    50% {
        stroke-dasharray: 3;
        stroke-dashoffset: 12;
    }

    100% {
        stroke-dasharray: 3;
        stroke-dashoffset: 9;
    }
}

@-o-keyframes bling {
    50% {
        stroke-dasharray: 3;
        stroke-dashoffset: 12;
    }

    100% {
        stroke-dasharray: 3;
        stroke-dashoffset: 9;
    }
}

@keyframes bling {
    50% {
        stroke-dasharray: 3;
        stroke-dashoffset: 12;
    }

    100% {
        stroke-dasharray: 3;
        stroke-dashoffset: 9;
    }
}

@-moz-keyframes locked {
    50% {
        transform: translateY(1px);
    }
}

@-webkit-keyframes locked {
    50% {
        transform: translateY(1px);
    }
}

@-o-keyframes locked {
    50% {
        transform: translateY(1px);
    }
}

@keyframes locked {
    50% {
        transform: translateY(1px);
    }
}
/*#endregion*/

/*#region Tabs*/
:root {
    --success-color: #4caf50;
    --danger-color: #f44336;
}
.nav-tabs-bottom .nav-link.teal-400.active:before {
    background-color: #26a69a;
}

.nav-tabs-bottom .nav-link.valid {
    color: var(--success);
}

    .nav-tabs-bottom .nav-link.valid.active:before {
        background-color: var(--success-color);
    }

.nav-tabs-bottom .nav-link.invalid {
    color: var(--danger-color);
}

    .nav-tabs-bottom .nav-link.invalid > div {
        animation: crescendo 1.5s alternate infinite ease-in;
    }

    .nav-tabs-bottom .nav-link.invalid.active:before {
        background-color: var(--danger-color);
    }

@keyframes crescendo {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1.1);
    }
}


/*#endregion*/
